// Initialize mutation rate, types, and genomic elements
initialize() {
	initializeSLiMOptions(keepPedigrees = T); // Allows us to access the relatedness() method
	initializeMutationRate(1.8e-7); // Mutation rate
	initializeMutationType("m1", 0.5, "f", 0.0); // Neutral mutation
	initializeGenomicElementType("g1", c(m1), 1.0); // Genomic element type
	initializeGenomicElement(g1, 0, 99999);  // Genomic element, 100 kB
	initializeRecombinationRate(4e-8);   // Recombination rate
	initializeSex("A"); // Sex-chromosome
}

1 early() {
	// Create a subpopulation of 1000 individuals
	sim.addSubpop("p1", 1000);
}

1000: mateChoice() {
	do {
		mate = sample(p1.individuals, 1, T, weights);
	} while (individual.relatedness(mate) != 0);
	
	return mate;
}

1000 late() {
	// Print mean heterozygosity across the population
	heterozygosity = calcHeterozygosity(p1.genomes);
	cat("Mean heterozygosity = " + heterozygosity + "\n");
}
